/* body {
  background-color: #9cedd6;
} */

.calendar-wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 3%;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1%;
}

.calendar_default_event_inner {
  background: #2e78d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 10pt;
  padding: 5px;
  opacity: 0.8;
}

.calendar_default_cell_inner {
  background-color: #fff;
}

.calendar-name {
  text-align: center;
}

.newcalendar-container {
  width: 100vw;
  height: 94vh;
  background-color: #378b29;
  background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-new {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #ffffffe1;
}

.create-new h1 {
  font-size: 2rem;
  margin: 0;
}

.form-section .create-btn {
  width: 26vw;
  background-color: #8fe58084;
  color: black;
  border: 0.2px solid gray;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 20px;
  padding: 6px;
}

.form-section .create-btn:hover {
  background-color: #8fe580;
}

@media (max-width: 700px) {
  .create-new {
    width: 90vw;
    padding-top: 8%;
    padding-bottom: 10%;
  }

  .form-section .create-btn {
    width: 77vw;
  }

  .current-month {
    text-align: center;
  }
}
